:root {
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-gray: #32425C;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --dark-gray: #293449;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --light-gray-orange: #F9F5F0;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background: var(--basic-background);
}

.header-menu {
  background: var(--dark-gray);
}

.logo {
  padding: 12px 56px 17px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-search {
  background-color: var(--dark-gray);
  border: 0;
}

.header-search:hover,
.header-search:focus {
  border: 0;
  background-color: var(--basic-white);
}

.header-item {
  color: var(--basic-white);
}

.bookmark:active,
.basket:active {
  padding: 9px 19px;
  background-color: #161D29;
  color: rgba(255, 255, 255, 0.5);
}

.order {
  padding: 9px 19px;
  background: var(--basic-green);
}

.order:hover {
  background-color: #5FBB2D;
}

.order:active {
  color: rgba(255, 255, 255, 0.5);
}

.site-description {
  width: 197px;
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.phone {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
}

.header-address {
  color: var(--basic-gray);
  font-size: 14px;
}

.header-check {
  padding: 12px 24px;
  background: var(--basic-white);
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
}

.header-check:hover {
  color: var(--basic-red);
}

.header-check:active {
  color: var(--basic-greylight);
}

.main-navigation {
  display: flex;
  justify-content: space-around;
  background-color: var(--basic-gray);
  font-size: 17px;
  margin-top: 38px;
  padding: 0 23px;
  box-shadow: inset 0px -5px 0px var(--dark-gray);
  color: var(--basic-white);
}

.main-navigation ul {
  list-style: none;
}

.main-navigation li {
  display: inline;
}

.main-navigation a {
  padding: 16px 30px 15px;
  color: var(--basic-white);
}

.main-navigation a:hover {
  padding: 16px 30px 15px;
  background-color: #293449;
  box-shadow: inset 0px -5px 0px #293449;
}

.main-navigation a:active {
  background-color: #1D2739;
  color: rgba(255, 255, 255, 1);
}

.services-list ul {
  list-style: none;
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
}

.services-link {
  padding: 10px 20px;
  background-color: rgba(225, 225, 225, 0.3);
  background-size: 135px 38px;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.services-link:hover {
  background: rgba(197, 197, 197, 0.3)
}

.services-link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.materials {
  background: var(--special-yellow);
  width: 300px;
  height: 123px;
}

.tool {
  background: var(--special-blue);
  width: 300px;
  height: 123px;
}

.technique {
  background: var(--special-lilac);
  width: 300px;
  height: 123px;
}

.sale {
  background: var(--special-greenlight);
  width: 300px;
  width: 300px;
  height: 123px;
}

.delivery {
  background: var(--special-yellowlight);
  width: 300px;
  height: 123px;
}

.slider-item {
  color: var(--basic-white);
  background-color: var(--basic-gray);
  width: 620px;
}

.slider-item h2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.button {
  padding: 10px 25px ;
  background: var(--basic-red);
  background-size: 192px 38px;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #CA2C37;
}

.button:active {
  background: #BA2732;
}

.popular-list {
  background: var(--light-gray-orange);
}

.popular-list h2 {
  color: var(--basic-gray);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-list {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  list-style: none;
}

.product-item {
  margin-top: 20px;
  height: 318px;
  width: 220px;
  border: 1px solid #EAEAEA;
  text-align: center;
}

.product-item img {
  padding: 6px 18px;
}

.product-item:hover {
  box-shadow: 2px 4px 10px #000000;
}

.old-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.new-price {
  background-color: var(--basic-red);
  color: var(--basic-white);
  background-size: 141px 38px;
}

.buy {
  padding: 5px 20px;
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  height: 38px;
  width: 135px;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  background-size: 135px 38px;
  border-radius: 2px;
  color: var(--basic-white);
}

.buy:hover,
.buy:focus {
  background-color: #5FBB2D;
}

.buy:active {
  background-color: #518534;
}

.bookmarks {
  padding: 2px 10px;
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  height: 38px;
  width: 135px;
  color: var(--basic-gray);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.bookmarks:hover,
.bookmarks:focus {
  border-color: #32425C;
}

.bookmarks:active {
  opacity: 0.3;
}

.brand-list {
  
  list-style: none;
}

.brand-item {
  margin: 20px;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
}

.brand-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.services-info {
  background-color: #F1F5F7;
}

.services-title h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-title p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-button {
  padding: 13.5px 140px 17.5px 22px;
  border: none;
  background-color: var(--basic-gray);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
}

.services-button:hover {
  background-color: var(--dark-gray);
}

.services-button:checked,
.services-button:active {
  color: var(--basic-gray);
  background-color: white;
}

.services-description h2 {
  color: var(--basic-gray);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-description p {
  font-family: "PT Sans";
  color: #000000;
  font-size: 13px;
  line-height: 24px;
}

.company-info h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.company-info p {
  font-family: "PT Sans";
  color: #000000;
  font-size: 13px;
  line-height: 24px;
}

.partners-list li {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}


.footer-logo {
  padding: 20px 41px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

footer {
  margin-top: 70px;
  background-color: var(--basic-gray);
}

.reserved {
  background-color: var(--dark-gray);
  font-size: 16px;
  line-height: 18px;
}

.footer-phone {
  color: var(--basic-white);
}

.footer-navigation-up {
  color: var(--basic-white);
}

.footer-navigation-down {
  color: var(--special-yellowlight);
}

.footer-navigation-up:hover,
.footer-navigation-down:hover {
  text-decoration: underline;
}

.footer-navigation-up:active,
.footer-navigation-down:active {
  opacity: 0.5;
}

.social-network {
  background: #212A3A;
  border-radius: 50%;
}

.social-network:hover,
.social-network:active {
  background-color: var(--basic-red);
}

.footer-reserved-link {
  color: var(--special-yellowlight);
}

.footer-reserved-link:hover {
  text-decoration: underline;
}

.footer-reserved-link:active {
  color: var(--basic-red);
}

.feedback-popup {
  height: 430px;
  width: 620px;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.75));
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.entrance {
  width: 220px;
  height: 39px; 

  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  border: 2px solid #C5C5C5;
  border-radius: 2px;
}

.down {
  width: 460px;
  height: 116px;
}

.pop-up-button {
  padding: 10px 200px;
  background: #EE3643;
  color: var(--basic-white);
  
}

.map-popup {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.blind-title:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.bread-crumbs-list {
  list-style: none;
}

.bread-crumbs-item {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.main-navigation-catalog h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #F1F5F7;
  padding: 30px;
}

.main-navigation-catalog p {
  font-family: "PT Sans";
  text-transform: uppercase;
  background-color:  #F7F3EC;
  padding: 10px 18px;
  width: 220px;
}

.navigation-title {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation-checkbox {
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.navigation-checkbox input {
  border: 3px solid #C5C5C5;
}

.main-navigation-button {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 79px;
  margin-top: 10px;
  border: 1px solid #E5E5E5;
  background-color: var(--basic-white);
}

.sorting-bar {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #F7F3EC;
  padding: 10px 0px;
}

.sorting-link {
  opacity: 0.3;
}

.sorting-link:hover,
.sorting-link:focus {
  color: #000000;
  opacity: 1;
  text-decoration: underline;
}

.sorting-link:active {
  color: #EE3643;
}

.paginator {
  margin: 33px 0 30px 0;
  width: 285px;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.paginator a {
  padding: 10px 15px;
  color: #000000;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.paginator a:hover,
.paginator button:hover {
  border-color: #C5C5C5;
}

.paginator a:active,
.paginator button:active {
  border-color: var(--basic-red);
}

.paginator button {
  padding: 10px 32px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}






